.imgsize{
    width: 100px;
    height: 50px;
}
.header{
    justify-content: center !important;
}
.imgwidth{
    width: 100% !important;
    height: 280px !important;
}
.imgheight{
    width: 100% !important;
    height: 250px !important;;
}
.imgwid{
    width:  280px!important;
    height: 280px !important;
}
.formsize{
    width: 100% !important;
    max-width: 500px !important;
    padding: 15px !important;
    margin: 0 ,auto; 
}