.imgsize{
    width: 30px;
    height: 30px;
}
.header{
    justify-content: center !important;
}
.imgwidth{
    width: 100% !important;
    height: 700px !important;
}
.imgheight{
    width: 100% !important;
    height: 400px !important;;
}
/* .displayin{ 
    display: inline-block !important;
    width: 100%;
    height: 300px;
    
} */