*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}
.navbar{
    width: 90%;
    margin: 0 auto;
    display: table;
    height: 127px;
}
.logo{
    display: table-cell;
    margin-left: 100px;
}
.logo img{
    width: 50%;
    margin: 8% auto 3%;
}
.navul{
    display: table-cell;
    vertical-align: middle;
}
.navul li:first-child{
  color: #EC483C;  
}
.navul li{
    display: inline-block;
    width: 16%;
    margin: 0 auto;
}
.navul li button{
    background-color: #EC483C;
    border-color: #EC483C;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    width: 143px;
    height: 50px;
}
.banner{
    width: 100%;
    height: 487px;
    background-image: url("Asset 4 1.png");
}
.banner .p1{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    display: flex;
    align-items: center;
    color: #494D56;
    width: 46%;
    margin: 10% auto 5%;
    display: inline-block;
}    
.banner img{
    width: 40%;
    float: right;
    height: 341px;
    margin-top: 5%;
    vertical-align: middle;
}
.banner .p2{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 154.4%;
    display: flex;
    align-items: center;
    font-feature-settings: 'kern' off;
    color: #666666;
    width: 46%;
    display:inline-block;
}
.bannerbar{
    width: 90%;
    margin: 0 auto;
}
.black{
    width: 100%;
    background-color: black;
    height: 198px;
}
.blackbar{
    width: 80%;
    margin: 0 auto;
}
.blackbar img{
    width: 10%;
    margin: 5% auto 3%;
}
.blackbar p{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #FFFFFF;
    display: inline-block;
    vertical-align:top;
    width: 49%;
    margin: 7% auto 3%;
    margin-left: 10%;
}
.blackbar input{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    height: 58px;
    width: 25%;
    margin: 7% auto 3%;
    vertical-align:top;
    margin-left: 5%;
}
.blog{
    width: 100%;
}
.blogbar{
    width: 90%;
    margin: 0 auto;
    height: 200px;
}
.blogbar .b1{
    background: #EC483C;
    border-radius: 10px;
    height: 49px;
    border-color: #EC483C;
    margin: 0 auto;
    width: 70%;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 154.4%;
    color: #FFFFFF;
}
.blogbar .b2{
    border-radius: 10px;
    border-color: #E5E5E5;
    height: 49px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 154.4%;
    text-align: center;
    color: #494D56;
    margin: 0 auto;
    width: 70%; 
    margin-top: 50%;
    background-color: #E5E5E5;
}
.blogbar input{
    border: 1px solid #494D56;
    border-radius: 10px;
    height: 49px; 
    margin-top: 50%;     
}
.bloglist li{
    display: inline-block;
    width: 15%;
}
.bloglist li:last-child{
    float: right;
    position: relative;
}
.icon{
    position: absolute;
    float: right;
    left: 91%;
    top: 918px;
}
.main{
    width: 100%;
}
.sub{
    width: 90%;
    margin: 0 auto;
}
.part1{
    width: 23.2%;
    display: inline-block;
    background: #FCFCFC;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.part2{
    width: 23.2%;
    margin-left: 2%;
    display: inline-block;
    background: #FCFCFC;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.part3{
    width: 23.2%;
    margin-left: 2.1%;
    display: inline-block;
    background: #FCFCFC;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.part4{
    width: 23.2%;
    margin-left: 2.1%;
    display: inline-block;
    background: #FCFCFC;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.part1 img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.part2 img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.part3 img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.part4 img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.part1 .p1{
    width: 90%;
    margin: 0 auto;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #494D56;
}
.part1 .p2{
    width: 90%;
    margin: 0 auto;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #595959;
}
.part2 .p1{
    width: 90%;
    margin: 0 auto;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #494D56;
}
.part2 .p2{
    width: 90%;
    margin: 0 auto;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #595959;
}
.part3 .p1{
    width: 90%;
    margin: 0 auto;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #494D56;
}
.part3 .p2{
    width: 90%;
    margin: 0 auto;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #595959;
}
.part4 .p1{
    width: 90%;
    margin: 0 auto;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #494D56;
}
.part4 .p2{
    width: 90%;
    margin: 0 auto;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #595959;
}
.subpart{
    width: 100%;
    margin:3% 0;
}
.botnav{
    width: 100%;
}
.botlist{
    width: 90%;
    margin: 4% 23%;
}
.botlist li{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #494D56;
    border-radius: 10px;
}
.botlist .l1{
    width: 10%;
    background: #E5E5E5;
    margin-right: 1%;
    text-align: center;
    padding: 1%;
}
.botlist .l1 button{
    background: #E5E5E5;
    border: none;
    color: #494D56;
}
.botlist .l2{
    width: 3%;
    background: #EE4037;
    margin-right: 1%;
    text-align: center;
    padding: 1%;
    
}
.botlist .l2 button{
    background: #EE4037;
    border: none;
    color: #FFFFFF;

}
.botlist .l3{
    width: 3%;
    background: #E5E5E5;
    margin-right: 1%;
    text-align: center;
    padding: 1%;
}
.botlist .l3 button{
    background: #E5E5E5;
    border: none;
    color: #494D56;
}
.botlist .l4{
    width: 5%;
    background: #E5E5E5;
    margin-right: 1%;
    text-align: center;
    padding: 1%;
}
.botlist .l4 button{
    background: #E5E5E5;
    border: none;
    color: #494D56;
}
.botblack{
    background-color: #494D56;
    height: 350Px;
    width: 100%;
}
.botbody{
    display: inline-block;
    width: 90%;
    margin: 5% 5%;
}
.botimg{
    width: 29%;
    margin: 2% auto;
    display: inline-block;
}
.bot{
    width: 40%;
    margin: 5% auto;
    display: inline-block;
    vertical-align: top;
}
.botli li{
    display: inline-block;
    width: 29%;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
}

.botli li button{
    background: #EC483C;
    text-align: center;
    border-radius: 10px;
    border-color: #EC483C;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.4%;
    color: #FFFFFF;
}
.social{
    width: 30%;
    display: inline-block;
}
.social .p1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.sociallist li{
    display: inline-block;
    width: 10%;
    margin-right: 3%;
    height: 30px;
}
.social input{
    width: 82%;
    height: 41px;
    box-sizing: border-box  ;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background: #494D56;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    
}
.social .subs{
    margin-left: -114px;
    background: #EC483C;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
    height: 41px;
    width: 30%;
    border-color: #FFFFFF;
}
.sociallist li button{
    background: #5D626F;
    border-radius: 5px;
    border-color: #5D626F;
    width: 100%;
    height: 100%;
}
.social .p2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF
}
footer{
    background: #3A3E47;
    height: 53px;
}
footer p{
    display: inline-block;
    margin-top: 1%;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
footer .p1{
    margin-left: 5%;
}
footer .p2{
    margin-left: 50%;
}
footer .p3{
    margin-left: 3%;
}
footer .p4{
    margin-left: 3%;
}