*{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 1200px;
    
}
.a{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}
.b{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}
.c{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}
.d{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}
.d{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}
.e{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}
.f{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}
.g{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}
.h{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}
.i{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}
.j{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}
.k{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}
.l{
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}

