.main{                       /* parent div  for 6 child div's*/   
    position: relative;
    width:900px;
    height:450px;
}
/*child div's*/   
.a{
    width: 250px;
    height: 200px;
    border: 2px blue solid;
    position:absolute;
    top:0px;
    left: 0px;
}
.b{
    width: 250px;
    height: 200px;
    border: 2px blue solid;
    position:absolute;
    top:0px;
    left: 323px;
}
.c{
    width: 250px;
    height: 200px;
    border: 2px blue solid;
    position:absolute;
    top:0px;
    left: 646px;
}
.d{
    width: 250px;
    height: 200px;
    border: 2px blue solid;
    position:absolute;
    top:246px;
    left: 0px;
}
.e{
    width: 250px;
    height: 200px;
    border: 2px blue solid;
    position:absolute;
    top:246px;
    left: 323px;
}
.f{
    width: 250px;
    height: 200px;
    border: 2px blue solid;
    position:absolute;
    top:246px;
    left: 646px;
}