*{                     /* changing default browser value as per our need*/   
    margin: 0px;
    padding: 0px;
}
.main{                     /* parent div  for 12 child div's*/   
    width: 1200px;
    
}
/*child div's*/   
.a{                           /* common code for all 12 div's*/   
    border: 2px solid skyblue;
    width: 7.69%;
    height: 600px;
    background-color: burlywood;
    display: inline-block;
}

