*{
    margin: 0;
    padding: 0;
}
/* header starts */
header{
    padding: 60px;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}
/* header ends */
/* nav starts */
nav{
    padding: 20px;
    background-color: gray;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}
/* nav ends */
/* section starts */
section{
    
    background-color: darkgray;
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden;
}
.slideshow{
    padding: 100px;
    text-align: center;
    color: white;
    background-color: rgb(75, 74, 74);
    margin: 0 10px;
}
.grid{
    
    margin: 10px;
    
}
.grid .column{
    width: 31%;
    height: 250px;
    margin: 20px;
    background-color: aliceblue;
    display: inline-block;
}
.grid .column:first-child{
    margin-left: 0px;
}
.grid .column:last-child{
    margin-right: 0px;
}
/* section ends */
/* footer starts */
footer{
    padding: 20px;
    background-color: rgb(75, 74, 74);
    color: white;
    margin-bottom: 5px;
    text-align: center;
}
