.sub{
    background-color: brown;
    color: white;
    
}
@media(min-width:575px){
    .sub{
        width: 100%;
        background-color: red;
        border: 1px rebeccapurple solid;
    }
}
@media(min-width:767px){
    .sub{
        width: 49%;
        background-color: green;
        display: inline-block;
    }
}
@media(min-width:991px){
    .sub{
        width: 32%;
        background-color: skyblue;
    }
}
@media(min-width:1200px){
    .sub{
        width: 24 %;
        background-color: yellow;
    }
}