div{
    width: 700px;
    height: 700px;
    border: 2px solid red;
    padding: 10px;

}
h1{                margin-left: 2px;
    margin-block: 50px;
    border: 1px red solid;
    padding: 10px;
    text-align: center;
}